@using Store
<!-- Main Footer -->
<footer class="main-footer no-print">
	<!-- To the right -->
	<div class="float-right d-none d-sm-inline">
		
	</div>
	<!-- Default to the left -->
	<strong>Copyright <i class="far fa-copyright"></i>  @DateTime.Now.ToString("yyyy") <a href="@Url.Action("Index", "Home")">@Utilitarios.GetSystemName()</a></strong> 
	All rights reserved.
</footer>